


<h3 style="text-align: center;"> Home</h3>
<mat-card >
<hr>
<h1 style="margin-top: 30px; text-align: center;">List of users</h1> 
<button  (click)="createfun()" style="background-color: rgb(88, 88, 243); width: 100px; height: 20px; margin-left: 600px;" >Create User</button>

<mat-card style="height: 200px; width: 200px; margin-left: 200px; flex-direction: row;" *ngFor="let user of output" >
<pre>
 <b>Name:</b>
 <span>{{user.name}}</span>
 <b>email:</b>
 <span>{{user.email}}</span>
 <b>phone:</b>
 <span>{{user.phone}}</span>
 <b>id:</b>
 <span>{{user._id}}</span>
 <span  [routerLink]="['/users/', user._id]">
<button style="background-color: blue; width: 70px; height: 30px;"> Edit</button></span> <span class="delete" (click)="removeuser()">     <button style="background-color:crimson; width: 70px; height: 30px;">Delete</button>
</span>
</pre>
</mat-card>
</mat-card>